.wrap-body{
  max-width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}
header{
  /* position: absolute; */
  background: #c0c0c0;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom:  10px;
}
header nav{
  margin-left: 100px;
  width: 400px;
}
header nav ul{
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a{
  text-decoration: none;
  color: black;
}

/* main */

main{
  max-width: 1000px;
  margin: 10px auto;
}
main .home{
  width: 100%;
}
.wrapper-home{
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.-left{
  width: 300px;
}
.my-photo{
  margin: 0 auto;
  width: 200px;
  height: 210px;
  background-image: url(IMG_4232.jpeg);
  border-radius: 5px;
  background-position: 65% 30%;
  background-size: 320%;
}
h1{
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* footer */

footer{
  background: #c0c0c0;

}
footer .wrapper{
  max-width: 1000px ;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.conteiner-sing{
  display: flex;
  flex-wrap: wrap;
}
.conteiner-sing a{
  text-decoration: none;
  margin: 15px 15px;
  color: black;
}
.link-rs{
  margin-top: 11px;
  background-image: url(rs-school-logo.svg);
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: auto;

}